# Sample /etc/lighttpd/conf-enabled/05-auth.conf Config file
# /usr/share/doc/lighttpd/authentication.txt.gz
server.modules                += ( "mod_auth" )

auth.backend                   = "htdigest"
auth.backend.htdigest.userfile = "/etc/lighttpd/lighttpd.user"

auth.require = ( "/admin" => 
( 
    "method"  => "basic",
    "realm"   => "Admin Realm",
    "require" => "user=admin"
)
)